services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: rest
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
    ports:
      - "5555:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
